.fullDiv {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#425cea33,#425cea33,#425cea33,#425cea33,#ba565733,#ba565733,#ba565733,#ba565733);*/
  font-size: 20rem;
}

.tooltip {
  padding: 10rem;
  background: #e4e4e4;
}

.highlight {
  background: gold;
}
