.fullDiv {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.squareDiv {
  position: relative;
  width: 404rem;
  height: 404rem;
}

.mapImg {
  position: absolute;
  width: 100%;
  height: 100%;
}
